@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Arman";
}
@model IEnumerable<WishList.Models.Item>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>My Wish List</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    
                        <th scope="col">Item</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (@item.UserId == 0)
                        {
                            <tr>
                                
                                <td>@item.ItemName</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
            <a href="/Home/AdderArman" class="btn btn-primary float-right">Add Item</a>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <h2>Bake's Wish List</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      
                        <th scope="col">Item</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (@item.UserId == 1)
                        {
                            <tr>
                               
                                <td>@item.ItemName</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>Dake's Wish List</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">Item</th>
    
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (@item.UserId == 2)
                        {
                            <tr>

                                <td>@item.ItemName</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
